# Databases
*.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
ENV/

# Archives / multipart zips
OfferHunter_Proyecto.zip
OfferHunter_Proyecto.z*
*.z[0-9][0-9]
*.zip

# Logs
*.log

# VSCode
.vscode/
